<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Page Features -->
        <section class="row text-center">
        	<h1> Slide title goes here </h1>
        	<h1> --:-- Time Remaining goes here </h1>
        	<p> This should pull the info of slide title and slide time from a database </p>
        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>